* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Primary */
  --Green-500: hsl(158, 36%, 37%);
  --Green-700: hsl(158, 42%, 18%);

  /* Neutral */
  --Black: hsl(212, 21%, 14%);
  --Grey: hsl(228, 12%, 48%);
  --Cream: hsl(30, 38%, 92%);
  --White: hsl(0, 0%, 100%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: var(--Cream);
  font-family: "Montserrat", sans-serif;
  color: var(--Grey);
  height: 100dvh;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 900px;
  border-radius: 15px;
  overflow: hidden;
  width: 90%;
}

#image {
  flex: 1;
  background: url('/images/image-product-desktop.jpg') no-repeat center/cover;
  }

#order {
  background-color: var(--White);
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-evenly;
  flex: 1;

  > span {
    letter-spacing: 0.5rem;
  }

  h1 {
    color: var(--Black);
    font-family: "Fraunces", serif;
    font-size: 2.5rem;
  }

  p {
    line-height: 1.5rem;
  }

  .price {
    display: flex;
    align-items: center;
    gap: 2rem;

    span:nth-child(1) {
      color: var(--Green-500);
      font-size: 2.5rem;
      font-family: "Fraunces", serif;
    }

    span:nth-child(2) {
      text-decoration: line-through;
      font-size: 1.2rem;
    }
  }
}

button {
  background-color: var(--Green-500);
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  color: var(--White);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  padding: 1.5rem 0;
  border-radius: 15px;
  cursor: pointer;
  transition: all .2s ease-in-out;

  img {
    width: 1.4rem;
  }

  &:hover {
    background-color: var(--Green-700);
  }
}

/* Responsive */
@media (max-width: 800px) {
  body {
    padding: 5rem 0;
    height: auto;
  }

  main {
    grid-template-columns: repeat(1, 1fr);
  }

  #image {
  background: url('/images/image-product-mobile.jpg') no-repeat center/cover;
  min-height: 400px;
}
}